.upload-image-section {

    .dropbox {
        cursor: pointer;
        color: $gray-900;
        min-height: 200px;
        padding: 10px 10px;
        position: relative;
        background: $gray-300;
        outline-offset: -10px;
        flex-direction: column;
        outline: 2px dashed $gray-100;

        &:hover {
            background: $gray-500;
        }

        .paragraph {
            font-size: 1.2em;
            text-align: center;
            padding: 50px 0;
        }
    }
}
